<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="login-container">
    <div class="login-box">
        <h1>Polyglot Fitness</h1>
        <p>Welcome back! Please login to your account.</p>
        <div th:if="${loginError}" class="error-message">
            <p style="color: red; text-align: center;">
                Usuario o contraseña incorrectos. Inténtalo de nuevo.
            </p>
        </div>

        <form th:action="@{/auth/login}" method="post">
            <div class="input-group">
                <label for="username">Institutional Email</label>
                <input type="text" id="username" name="username" placeholder="e.g., user@icesi.edu.co" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-login">Login</button>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>


